# Use pnpm as the package manager (if using corepack this may be redundant)
package-manager=pnpm@latest

# Enforce minimum age of registry releases (in minutes)
# Example: 43200 = 60 min * 24 hours * 30 days
minimum-release-age=43200
minimum-release-age-exclude[]=@travelperksl/*
minimum-release-age-exclude[]=@yokoy/*
minimum-release-age-exclude[]=@yokoy-*
minimum-release-age-exclude[]=yokoy-*
minimum-release-age-exclude[]=@travel.cloud/*
minimum-release-age-exclude[]=@travel-cloud/*
minimum-release-age-exclude[]=@next/*
minimum-release-age-exclude[]=next

# Do not run lifecycle scripts on install by default
ignore-scripts=true