a.textLink {
  text-decoration: none;
  color: var(--color-primary);
  padding-inline: var(--space-1);
  padding-top: var(--space-half);
  padding-bottom: var(--space-half);
  border-radius: var(--border-radius-1);
  transition: 0.3s ease-out;
}

a.textLink:hover {
  background-color: var(--color-hover);
  transition: 0.3s ease-in;
}

:root {
  /* duration */
  --animation-duration-quick: 300ms;
  --animation-duration-moderate: 500ms;

  /* ease */
  --animation-ease-quick: cubic-bezier(0.5, 0, 0.42, 1.14);
}
